attributes:
  sriov:
    value: false
    label: "SR-IOV direct port creation in private VLAN networks (Neutron)"
    weight: 11
    type: "checkbox"
    description: |
              If selected, a Neutron SR-IOV driver will be configured to enable SR-IOV capabilities using Neutron direct port.
              This feature is only supported if the intel_iommu=on parameter is appended to the kernel parameters.
              In case the NEO SDN driver is not used for private network VLAN provisioning:
              * When in Ethernet mode, the switch side ports must be pre-configured with the required VLAN range
              * When in InfinBand mode, the Subnet Manager partitions.conf file must include the private network conversions of VLAN to PKey
    restrictions:
      - condition: "settings:common.libvirt_type.value != 'kvm' or not ('intel_iommu=on' in settings:kernel_params.kernel.value) or not (cluster:net_provider == 'neutron' and networking_parameters:segmentation_type == 'vlan')"
        message: "For Mellanox SR-IOV support in Neutron, the hypervisor type should be KVM, the environment networking should be based on Neutron with VLAN segmentation and the intel_iommu=on parameter should be appended to the kernel parameters."
  num_of_vfs:
    value: "16"
    label: "Number of virtual NICs"
    description: "One virtual function might be reserved for the storage network, if choosing iSER"
    weight: 12
    type: "text"
    regex:
      source: "^(6[0-2]|[1-5][0-9]|[1-9])$"
      error: "Invalid Virtual NICs number. Please use a number in the range of 1-62."
    restrictions:
      - condition: "settings:mellanox-plugin.sriov.value == false"
        message: "In order to change the number of virtual NICs, Neutron SR-IOV plugin should be checked."

  vfd:
    value: false
    label: "Use VFD to manages VFs"
    weight: 13
    type: "checkbox"
    description: "Use Virtual Functions Deamon (VFD) instead of Neutron SR-IOV Agent to manage Mellanox VFs"
    restrictions:
      - condition: "settings:mellanox-plugin.sriov.value == false"
        message: "In order to use VFD, Neutron SR-IOV plugin should be checked."

  reboot_required:
    value: false
    label: "Reboot when maximum number of vfs configured by the user is greater than the one burned in FW."
    description: |
               Reboots Slave nodes if the maximum number of vfs configured by the user is greator than the number burned in FW.
    weight: 30
    type: "checkbox"
    restrictions:
      - condition: "true == true"
        action: hide

  mlnx_qos:
    value: false
    label: "Quality of Service over Mellanox SR-IOV ports (Neutron)"
    description: |
               If selected, Neutron "Quality of Service" (QoS) will be enabled for SR-IOV ports over Mellanox HCAs.
               This feature is supported in Ethernet mode over Neutron with VLAN after SR-IOV direct port creation.
    weight: 30
    type: "checkbox"
    restrictions:
      - condition: "settings:common.libvirt_type.value != 'kvm' or not (settings:mellanox-plugin.sriov.value == true) or not (cluster:net_provider == 'neutron' and networking_parameters:segmentation_type == 'vlan')"
        message: "For Mellanox QoS support in Neutron, hypervisor type should be KVM and the environment networking should be based on Neutron with VLAN segmentation with Mellanox SR-IOV support."
        action: hide

  use_mlnx_neo:
    value: false
    label: "NEO SDN controller auto VLAN Provisioning (Neutron)"
    weight: 40
    type: "checkbox"
    description: |
               If selected, Mellanox NEO driver will be used to support auto-switch VLAN or SM Pkeys provisioning.
               This feature is supported over Neutron with VLAN.
    restrictions:
      - condition: "settings:common.libvirt_type.value != 'kvm' or not (cluster:net_provider == 'neutron' and networking_parameters:segmentation_type == 'vlan')"
        message: "For NEO SDN auto VLAN provisioning, hypervisor type should be KVM and the environment networking should be based on Neutron with VLAN segmentation."
  mlnx_neo_ip:
    value: ""
    label: "NEO IP"
    weight: 41
    type: "text"
    regex:
      source: '^(((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?))$'
      error: "Invalid IP address"
    restrictions:
      - condition: "settings:mellanox-plugin.use_mlnx_neo.value == false"
        message: "In order to insert NEO SDN Controller IP, Mellanox NEO auto VLAN provisioning has to be checked."
  mlnx_neo_user:
    value: "admin"
    label: "NEO username"
    weight: 42
    type: "text"
    restrictions:
      - condition: "settings:mellanox-plugin.use_mlnx_neo.value == false"
        message: "In order to insert NEO SDN Controller username, Mellanox NEO auto VLAN provisioning has to be checked."
  mlnx_neo_password:
    value: "123456"
    label: "NEO password"
    weight: 43
    type: "text"
    restrictions:
      - condition: "settings:mellanox-plugin.use_mlnx_neo.value == false"
        message: "In order to insert NEO SDN Controller password, Mellanox NEO auto VLAN provisioning has to be checked."

  vxlan_offloading:
    value: false
    label: "VXLAN Offloading (Neutron)"
    description: |
               If selected, Mellanox hardware will be used to achieve a better performance and significant CPU overhead reduction
               using VXLAN traffic offloading. This feature is supported in Ethernet mode over Neutron with tunneling.
    weight: 50
    type: "checkbox"
    restrictions:
      - condition: "not (cluster:net_provider == 'neutron' and networking_parameters:segmentation_type == 'tun')"
        message: "For VXLAN offloading, network should be neutron with tunnling segmentation."
        action: hide

  iser:
    value: false
    label: "iSER protocol for volumes (Cinder)"
    description: |
                  High Performance Block Storage: Cinder volumes over iSER protocol (iSCSI over RDMA).
                  In Ethernet mode, a dedicated Virtual Function will be reserved for a storage endpoint, and the priority flow control
                  has to be enabled on the switch side port.
                  In InfiniBand mode, the IPoIB parent interface of the network storage interface will be used as the storage endpoint.


                  For more information about Mellanox NEO installation and usage: https://community.mellanox.com/docs/DOC-2155
                  For more information about Mellanox Fuel 8.0 plugin configurations: https://community.mellanox.com/docs/DOC-2435
    weight: 60
    type: "checkbox"
    restrictions:
      - condition: "settings:storage.volumes_lvm.value != true or settings:common.libvirt_type.value != 'kvm' or not ('intel_iommu=on' in settings:kernel_params.kernel.value)"
        message: "For iSER support in Cinder, Cinder LVM over iSCSI should be enabled, the hypervisor type should be KVM and the intel_iommu=on parameter should be appended to the kernel parameters."
